<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Haate Khori</title>
    <link rel="stylesheet" href="{% static 'css/know_your_surroundings.css' %}">
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
</head>
<body>
<div class="menubar">
    <a href="{% url 'contact_us' %}">Contact Us</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'my_profile' %}">My Profile</a>
    <a class="active" href="#">Know You</a>
    <a href="{% url 'surroundings' %}">Know Your Surroundings</a>
    <a href="{% url 'writing' %}">Learn To Write</a>
    <a href="{% url 'home' %}">Home</a>
</div>

<img id="label" src="/static/img/KnowYou.png" width="30%">
<div class="main">
    <div class="shape-level0">
        <img id="sub-menu" src="/static/img/know_your_surroundings_shape_level0C.png" width="70%">
        <img id="select-back" src="/static/img/know_your_surroundings_level0_black.png" width="300">
        <img id="learn-select-active" src="/static/img/learn_option_active.png" width="140">
        <a href="{% url 'know_you_identity' %}"><img id="identify-select" src="/static/img/identify_option.png" width="140"></a>
        <a href="{% url 'add_image_know_you' %}"><img id="shape-level1" src="/static/img/add_image_know_you.png" width="300"></a>
        <a href="{% url 'know_you_learn' %}"><img id="shape-level1" src="/static/img/learn_image_know_you.png" width="300"></a>
    </div>
    <form method = "post" enctype="multipart/form-data">
        <p><br><br><br><br><br><br></p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <div id="content">
        <p><br><br><br><br><br><br><br><br><br><br><br><br></p>
        {% include 'image_upload_message.html' %}
        {% block content %}  {% endblock content %}
    </div>
</div>

<script>
    setTimeout(function(){
        if($('#msg').length > 0){
            $('#msg').remove();
        }
    }, 2000)
</script>
</body>
</html>